@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900");

.navbar {
  font-family: "source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
}

.logo {
  padding: 30px;
  margin-top: 0px; 
  cursor: pointer !important;
  width: 90px;
  height: 90px;
  display: block;
  object-fit: contain;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: auto;
  max-width: none;
  max-height: none;
}

.nav-options {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.nav-options li {
  padding: 0 10px;
  
}

.nav-options a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-options a:hover {
  color: #cab72b;
}

.right-options {
  display: flex;
  padding: 10px;
  
}

.right-options a {
  margin-left: 10px;
  transition: all 0.3s ease 0s;
  color: white;
  text-decoration: none;
}

.right-options a:hover {
  color: #cab72b;
}

.second-navbar {
  font-family: "source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(132, 127, 127);
  color: #fff;
  font-size: 14px;
  position: fixed;
  top: 100px;
  right: 0;
  width: 100%;
  text-decoration: none;
}


/*
* {
  margin: 0;
  padding: 0;
}

.logo {
  cursor: pointer !important;
  object-fit: contain;
  display: block;
  width: 100px;
  height: 25%;
  margin-top: 25px;
}

.navbarmain {
  display: flex;
  justify-content: space-between;
  background-color: black !important;
  padding: 2px 10%;
}

.navmainV1 {
  list-style: none;
  display: inline-flex;
  /*background-color: black !important; 
  align-items: center;
}

.navmainV1 li {
  display: inline-block;
  padding: 0px 10px;
}

.navmainV1 li a {
  transition: all 0.3s ease 0s;
}
.navmainV1 li a:hover {
  color: #cab72b;
}

/* path: \PaP\Main\Css\part1.css 

.main {
  list-style: none;
  display: inline-flex;
  background-color: black;
  align-items: center;
  padding: 62px 0px;
}

.main li,
a {
  font-family: "source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
  text-decoration: none;
  background-color: black !important;
  padding: 0px 10px;

}

.navbar2{
  display: flex;
  justify-content: space-between;
  background-color: rgb(53, 29, 147);
  padding: 25px 37%;
  align-items: center;
}

.navV2 {
  list-style: none;
  display: inline-flex;
  background-color: rgb(53, 29, 147) !important;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0%;
}

.navV2 li, a{
  font-family: "source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background-color: rgb(53, 29, 147) !important;
  text-decoration: none;
}*/