@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900");

@media screen and (max-width: 768px) {
  
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  cursor: pointer !important;
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.navbarmain {
  display: flex;
  justify-content: space-between;
  background-color: black !important;
  padding: 30px 10%;
}

.navmainV1 {
  list-style: none;
  display: inline-flex;
  background-color: black !important;
  align-items: center;
}

.navmainV1 li {
  display: inline-block;
  padding: 0px 10px;
}

.navmainV1 li a {
  transition: all 0.3s ease 0s;
}
.navmainV1 li a:hover {
  color: #cab72b;
}

/* path: \PaP\Main\Css\part1.css */

.main {
  list-style: none;
  display: inline-flex;
  background-color: black;
  align-items: right;
  padding: 62px 0px;
}

.main li,
a {
  font-family: "source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 0px 10px;

}

.navbar2{
  display: flex;
  justify-content: space-between;
  background-color: rgb(53, 29, 147);
  padding: 25px 37%;
  align-items: center;
}

.navV2 {
  list-style: none;
  display: inline-flex;
  background-color: rgb(53, 29, 147) !important;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0%;
}

.navV2 li, a{
  font-family: "source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background-color: rgb(53, 29, 147) !important;
  text-decoration: none;
}