@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



 a, li{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
 } 
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

  