@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background-color: #ffffff;

}



.main li, a {
  font-family: 'source Sans Pro', sans-serif;
  font-weight:  500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.nav1 li, a, button {
  font-family: 'source Sans Pro', sans-serif;
  font-weight:  500;
  font-size: 16px;
  color: white;
  background-color: black;
  text-decoration: none;
}


header{
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 30px 10%;
}



.logo{
  cursor: pointer !important;
  width: 10%;
  height: 10%;
}

.nav1 {
  list-style: none;
}

.nav1 li{
  display: inline-block;
  padding: 0px 20px;
}

.nav1 li a {
  transition: all 0.3s ease 0s;
}
.nav1 li a:hover {
  color: #0088a9
}

button{
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}